<!-- Wide card with share menu button -->

.onkalo-align-center {
    text-align: center;
}

.show-password {
    position: absolute;
    left:345px;
}

#kc-login, #kc-register, #kc-submit {
    width: 100%;
    min-width: initial;
    margin-top: 20px;
    margin-bottom: 10px;
}

#remember-me {
    margin-top: 20px;
}

.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/welcome_card.jpg') center / cover;

}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

body {
    padding: 20px 0 0;
    background: #fafafa;
    position: relative;
}

.mdl-grid.center-items {
    justify-content: center;
}


/*
.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label {
    !*transform: translate3d(0, -20px, 0);*!
    visibility: hidden;
}

.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label:after {
    !*content: 'Password';*!
    visibility: hidden;
    !*left: 0;*!
    !*transform: translate3d(0, -20px, 0);*!

}*/
